@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .nav-link {
    @apply text-zinc-500 hover:text-zinc-800;
  }
}
button {
  cursor: pointer;
}

link {
  cursor: pointer;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}

.table-cell {
  width: 150px;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
